:host ::ng-deep {
    .p-card {
        border-radius: 12px;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    }
    .p-inputtext, .p-multiselect {
        border-radius: 8px;
    }
}
::ng-deep .p-fileupload-buttonbar {
  display: none;
}