<p-card class="p-4">
  <ng-template pTemplate="title">
    <h2 class="text-xl font-semibold text-gray-800">{{ isEditing ? "Edit Combo Box" : "Add Combo Box" }}</h2>
  </ng-template>

  <ng-template pTemplate="content">
    <form [formGroup]="submitForm" class="grid md:grid-cols-1 gap-6">
      <div>
        <label class="font-medium mb-1 block">Combo Box English Name</label>
        <input type="text" pInputText formControlName="en_name" class="p-inputtext-sm w-full" />
        @if (submitForm.get('en_name')?.invalid && submitForm.get('en_name')?.touched) {
        <div class="p-error">
          <small>Combo Box English Name is required.</small>
        </div>
        }
      </div>

      <div>
        <label class="font-medium mb-1 block">Combo Box Arabic Name</label>
        <input type="text" pInputText formControlName="ar_name" class="p-inputtext-sm w-full" />
        @if (submitForm.get('ar_name')?.invalid && submitForm.get('ar_name')?.touched) {
        <div class="p-error">
          <small>Combo Box Arabic Name is required.</small>
        </div>
        }
      </div>

      <div>
        <label class="font-medium mb-1 block">Combo Price</label>
        <input appOnlyNumber type="number" pInputText formControlName="prices" class="p-inputtext-sm w-full" />
        @if (submitForm.get('prices')?.invalid && submitForm.get('prices')?.touched) {
        <div class="p-error">
          <small>Combo Price is required.</small>
        </div>
        }
      </div>

      <div>
        <label class="font-medium mb-1 block">Combo Total Pieces</label>
        <input appOnlyNumber type="number" pInputText formControlName="pieces" class="p-inputtext-sm w-full" />
        @if (submitForm.get('pieces')?.invalid && submitForm.get('pieces')?.touched) {
        <div class="p-error">
          <small>Combo Total Pieces is required.</small>
        </div>
        }
      </div>

      @if (!isEditing) {
      <!-- Dynamic limit_object Inputs -->
      <div formArrayName="limit_object">
        @for (control of limit_object.controls; track $index) {
        <div class="flex items-center gap-2 mb-5" [formGroup]="control">
          <p-dropdown
            [filter]="true"
            [placeholder]="'Choose Category'"
            styleClass="flex-grow-1 w-full border border-black/25 rounded-[10px] px-3"
            class="flex-grow-1"
            [options]="categories"
            formControlName="category_id"
            optionLabel="en_name"
            optionValue="id">
          </p-dropdown>

          <ng-container *ngIf="control.get('limit_count')?.value !== 100; else showLimitButton">
            <input
              class="!w-24 mb-0"
              appOnlyNumber
              type="number"
              pInputText
              formControlName="limit_count"
              placeholder="Limit" />
            <button
              pButton
              label="Unlimit"
              class="p-button-secondary p-button-sm"
              (click)="setUnlimited($index)"></button>
          </ng-container>

          <ng-template #showLimitButton>
            <button pButton label="Limit" class="p-button-sm" (click)="enableLimit($index)"></button>
          </ng-template>

          <button pButton icon="pi pi-trash" class="p-button-danger" (click)="removePiecePrice($index)"></button>
        </div>
        }
        <button pButton label="Add More" class="p-button-text" (click)="addPiecePrice()"></button>
      </div>
      }

      <!-- <div class="flex items-center gap-2">
        <p-inputSwitch [trueValue]="1" [falseValue]="0" formControlName="status"></p-inputSwitch>
        <label class="font-medium mb-1 block">Status</label>
      </div> -->
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="flex justify-end gap-3 mt-4">
      <button
        icon="pi pi-times"
        pButton
        label="Cancel"
        class="p-button-text"
        routerLink="/dashboard/offers/combo"></button>
      <button pButton label="Save" (click)="saveForm()" class="p-button-success btn-main px-3"></button>
    </div>
  </ng-template>
</p-card>
