<p-card class="p-4">
  <ng-template pTemplate="title">
    <h2 class="text-xl font-semibold text-gray-800">Products Details</h2>
  </ng-template>

  <ng-template pTemplate="content">
    <div class="grid md:grid-cols-2 gap-4">
      <!-- Product Image -->
      <div class="flex flex-col md:col-span-2">
        <label class="font-medium text-gray-600">Product Box Image</label>
        <img
          width="50"
          height="50"
          style="width: 50px; height: 50px"
          class="rounded-full"
          [ngSrc]="imgUrl + 'products/' + productData.product.image"
          role="presentation" />
      </div>

      <!-- English & Arabic Names -->
      <div class="flex flex-col">
        <label class="font-medium text-gray-600">English Name</label>
        <p class="text-gray-900 font-semibold">{{ productData.product.en_food_name }}</p>
      </div>

      <div class="flex flex-col">
        <label class="font-medium text-gray-600">Arabic Name</label>
        <p class="text-gray-900 font-semibold">{{ productData.product.ar_food_name }}</p>
      </div>
      <!-- English & Arabic ingredients text -->
      <div class="flex flex-col">
        <label class="font-medium text-gray-600">English Description</label>
        <p class="text-gray-900 font-semibold" [innerHTML]="productData.product.en_ingredients"></p>
      </div>

      <div class="flex flex-col">
        <label class="font-medium text-gray-600">Arabic Description</label>
        <p class="text-gray-900 font-semibold" [innerHTML]="productData.product.ar_ingredients"></p>
      </div>

      <!-- English & Arabic Category -->
      <div class="flex flex-col">
        <label class="font-medium text-gray-600">English Category</label>
        <p class="text-gray-900 font-semibold">{{ productData.productCategory.en_name }}</p>
      </div>

      <div class="flex flex-col">
        <label class="font-medium text-gray-600">Arabic Category</label>
        <p class="text-gray-900 font-semibold">{{ productData.productCategory.ar_name }}</p>
      </div>

      <!-- price -->
      @if (productData.product.price) {
      <div class="flex flex-col">
        <label class="font-medium text-gray-600">Price</label>
        <p class="text-gray-900 font-semibold">{{ productData.product.price | currency : " EGP " }}</p>
      </div>
      }

      <!-- Status -->
      <div class="flex flex-col">
        <label class="font-medium text-gray-600">Status</label>
        <p-tag [severity]="productData.product.status ? 'success' : 'danger'" class="w-fit">
          {{ productData.product.status ? "Active" : "Inactive" }}
        </p-tag>
      </div>

      <!-- piece_price_state -->
      @if (productData.product.piece_price_state) {
      <div class="flex flex-col">
        <label class="font-medium text-gray-600">Pieces & Prices </label>
        <div class="flex space-x-2">
          <p-tag [severity]="productData.product.piece_price_state ? 'success' : 'danger'" class="w-fit">
            {{ productData.product.piece_price_state ? "Active" : "Inactive" }}
          </p-tag>
        </div>
      </div>
      }

      <!-- product_choice_state -->
      @if (productData.product.product_choice_state) {
      <div class="flex flex-col">
        <label class="font-medium text-gray-600">Choices </label>
        <div class="flex space-x-2">
          <p-tag [severity]="productData.product.product_choice_state ? 'success' : 'danger'" class="w-fit">
            {{ productData.product.product_choice_state ? "Active" : "Inactive" }}
          </p-tag>
        </div>
      </div>
      }

      <!-- Created & Updated Date -->
      <!-- <div class="flex flex-col">
        <label class="font-medium text-gray-600">Created At</label>
        <p class="text-gray-900 font-semibold">{{ productData.product.created_at | date : "MMM d, y, h:mm a" }}</p>
      </div>

      <div class="flex flex-col">
        <label class="font-medium text-gray-600">Updated At</label>
        <p class="text-gray-900 font-semibold">{{ productData.product.updated_at | date : "MMM d, y, h:mm a" }}</p>
      </div> -->
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="flex justify-end gap-3 mt-4">
      <button
        icon="pi pi-angle-double-left"
        pButton
        label="Back"
        class="p-button-text"
        routerLink="/dashboard/menu/products"></button>
      <button
        pButton
        label="Edit Product"
        class="p-button-primary btn-main px-3"
        [routerLink]="['/dashboard/menu/products/products-edit', productData.product.id]"></button>
    </div>
  </ng-template>
</p-card>
