::ng-deep .p-fileupload-buttonbar {
  display: none;
}

::ng-deep(.p-multiselect-label-container) {
    max-height: 120px; /* حدد أقصى ارتفاع مسموح به */
    overflow-y: auto;  /* ظهور سكرول عند زيادة الـ Chips */
}