@if (allCoupons) {
<div class="card">
  <div class="flex justify-between items-center mb-3">
    <h2 class="text-2xl font-semibold">Coupons Control</h2>

    <p-button
      routerLink="/dashboard/offers/coupons/coupons-add"
      label="Add Coupon"
      icon="pi pi-plus"
      class="btn-main text-white"
    ></p-button>
  </div>

  <!-- Search Input -->
  <div class="mb-3 flex justify-content-end">
    <span class="p-input-icon-right">
      <i class="pi pi-search"></i>
      <input
        class="mb-0"
        type="text"
        pInputText
        placeholder="Search"
        (input)="onGlobalFilter(dt, $event)"
      />
    </span>
  </div>

  <p-table
    #dt
    [paginator]="true"
    [rows]="rowsPerPage"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="getPagination()"
    [showCurrentPageReport]="true"
    [lazy]="true"
    (onPage)="onPageChange($event)"
    [value]="filteredCoupons"
    [sortMode]="'single'"
    (onSort)="onSort($event)"
    [globalFilterFields]="['id', 'code', 'percentage', 'counter_use']"
    responsiveLayout="scroll"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="text-center" pSortableColumn="id">
          ID <p-sortIcon field="id"></p-sortIcon>
        </th>
        <th class="text-center" pSortableColumn="code">
          Code <p-sortIcon field="code"></p-sortIcon>
        </th>
        <th class="text-center" pSortableColumn="percentage">
          Percentage <p-sortIcon field="percentage"></p-sortIcon>
        </th>
        <th class="text-center" pSortableColumn="counter_use">
          Counter <p-sortIcon field="counter_use"></p-sortIcon>
        </th>
        <th class="text-center">
          <!-- Normal Dropdown without filter icon or overlay -->
          <p-dropdown
            #Dd
            class="mx-auto"
            styleClass="mx-auto"
            [ngModel]="selectedStatus"
            [options]="selectOptions"
            optionValue="value"
            (onChange)="onFilterChange($event.value); Dd.showClear = true"
            placeholder="Status"
            [showClear]="false"
            [autoZIndex]="true"
          ></p-dropdown>
        </th>
        <th class="text-center">Actions</th>
        <th class="text-center">View</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-coupon>
      <tr>
        <td class="text-center">{{ coupon.id }}</td>
        <td class="text-center">{{ coupon.code }}</td>
        <td class="text-center">{{ coupon.percentage / 100 | percent }}</td>
        <td class="text-center">
          {{ coupon.counter_use ? "Multi" : "Once" }}
        </td>
        <td class="text-center">
          <p-inputSwitch
            [trueValue]="1"
            [falseValue]="0"
            [ngModel]="coupon.status"
            (onChange)="toggleCouponStatus(coupon)"
          ></p-inputSwitch>
        </td>
        <td class="text-center">
          <a
            [routerLink]="['/dashboard/offers/coupons/coupons-edit', coupon.id]"
            target="_blank"
            pButton
            rel="noopener noreferrer"
            class="p-button p-component text-black p-button-text"
          >
            <span class="p-button-icon pi pi-pencil"></span>
          </a>
        </td>
        <td class="text-center">
          <button
            [routerLink]="[
              '/dashboard/offers/coupons/coupons-details',
              coupon.id
            ]"
            pButton
            label="View"
            icon="pi pi-search"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">
          <div>
            <div class="h-48 flex justify-center items-center flex-col">
              <app-no-data-found-banner></app-no-data-found-banner>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
} @else {
<app-loading-data-banner></app-loading-data-banner>
}

<p-toast></p-toast>
