<p-card class="p-4">
  <ng-template pTemplate="title">
    <h2 class="text-xl font-semibold text-gray-800">{{ isEditing ? "Edit Product" : "Add Product" }}</h2>
  </ng-template>

  <ng-template pTemplate="content">
    <form [formGroup]="submitForm" class="grid md:grid-cols-1 gap-6">
      <!-- Image Upload Section -->
      <div>
        <div class="p-field">
          <label class="font-medium mb-1 block">Product Image</label>
          <p-fileUpload
            #fileUpload
            name="image"
            accept="image/*"
            [auto]="true"
            [chooseLabel]="'Choose Image'"
            [uploadLabel]="'Upload'"
            [styleClass]="'w-full'"
            [cancelLabel]="'Cancel'"
            (onRemove)="clearImage()"
            [showUploadButton]="false"
            [showCancelButton]="false"
            [customUpload]="true"
            (onSelect)="onFileSelect($event)"
            [draggable]="true">
            <ng-template pTemplate="content">
              <div
                class="upload-area flex flex-col items-center justify-center border-2 border-dashed border-gray-300 rounded-lg p-6 hover:border-main-500 transition">
                <i class="pi pi-cloud-upload text-4xl text-gray-400"></i>
                <p class="text-gray-500 mt-2">
                  Drag & drop an image or
                  <span class="text-blue-500 cursor-pointer" (click)="fileUpload.choose()">click to select</span>
                </p>
              </div>
            </ng-template>
          </p-fileUpload>
          @if (submitForm.get('image')?.invalid && submitForm.get('image')?.touched) {
          <div class="p-error">
            <small>Product Image is required.</small>
          </div>
          }
        </div>
      </div>

      <div>
        <label class="font-medium mb-1 block">Product English Name</label>
        <input type="text" pInputText formControlName="en_food_name" class="p-inputtext-sm w-full" />
        @if (submitForm.get('en_food_name')?.invalid && submitForm.get('en_food_name')?.touched) {
        <div class="p-error">
          <small>Product English Name is required.</small>
        </div>
        }
      </div>

      <div>
        <label class="font-medium mb-1 block">Product Arabic Name</label>
        <input type="text" pInputText formControlName="ar_food_name" class="p-inputtext-sm w-full" />
        @if (submitForm.get('ar_food_name')?.invalid && submitForm.get('ar_food_name')?.touched) {
        <div class="p-error">
          <small>Product Arabic Name is required.</small>
        </div>
        }
      </div>

      <div>
        <label class="font-medium mb-1 block">Category</label>
        <p-dropdown
          [filter]="true"
          [placeholder]="'Choose Category'"
          styleClass="w-full border border-black/25 rounded-[10px] px-3"
          [options]="categories"
          formControlName="category_id"
          optionLabel="en_name"
          optionValue="id" />
        @if (submitForm.get('category_id')?.invalid && submitForm.get('category_id')?.touched) {
        <div class="p-error">
          <small>Category is required.</small>
        </div>
        }
      </div>

      <div>
        <label class="font-medium mb-1 block">Product English Description</label>
        <ngx-jodit [options]="{ language: 'en' }" formControlName="en_ingredients"></ngx-jodit>
        <!-- @if (submitForm.get('en_ingredients')?.invalid && submitForm.get('en_ingredients')?.touched) {
        <div class="p-error">
          <small>Product English Description is required.</small>
        </div>
        } -->
      </div>

      <div>
        <label class="font-medium mb-1 block">Product Arabic Description</label>
        <ngx-jodit
          dir="rtl"
          [options]="{ language: 'ar', direction: 'rtl' }"
          formControlName="ar_ingredients"></ngx-jodit>
        <!-- @if (submitForm.get('ar_ingredients')?.invalid && submitForm.get('ar_ingredients')?.touched) {
        <div class="p-error">
          <small>Product Arabic Description is required.</small>
        </div>
        } -->
      </div>

      <!-- Dynamic Piece Price Inputs -->
      @if (!submitForm.get('piece_price_state')?.value) {
      <div>
        <label class="font-medium mb-1 block">Product Price</label>
        <input appOnlyNumber type="number" pInputText formControlName="price" class="p-inputtext-sm w-full" />
        @if (submitForm.get('price')?.invalid && submitForm.get('price')?.touched) {
        <div class="p-error">
          <small>Product Price is required.</small>
        </div>
        }
      </div>
      }

      <!-- InputSwitch State -->
      <!-- <div class="flex items-center gap-2">
        <p-inputSwitch [trueValue]="1" [falseValue]="0" formControlName="state"></p-inputSwitch>
        <label class="font-medium mb-1 block">Status</label>
      </div> -->

      <!-- Pieces and Prices Switch -->
      <div class="flex items-center gap-2">
        <p-inputSwitch [trueValue]="1" [falseValue]="0" formControlName="piece_price_state"></p-inputSwitch>
        <label class="font-medium mb-1 block">Piece Price</label>
      </div>

      <!-- Dynamic Piece Price Inputs -->
      @if (submitForm.get('piece_price_state')?.value) {
      <div formArrayName="piece_price_array">
        @for (control of (piecePriceArray).controls ; track $index) {
        <div class="flex items-center gap-2" [formGroup]="control">
          <input
            class="flex-grow-1"
            appOnlyNumber
            type="number"
            pInputText
            formControlName="pieces"
            placeholder="Pieces Count" />
          <input
            class="flex-grow-1"
            appOnlyNumber
            type="number"
            pInputText
            formControlName="prices"
            placeholder="Price" />
          <button pButton icon="pi pi-trash" class="p-button-danger" (click)="removePiecePrice($index)"></button>
        </div>
        }
        <button pButton label="Add More" class="p-button-text" (click)="addPiecePrice()"></button>
        @if (submitForm.get('piece_price_array')?.invalid && submitForm.get('piece_price_array')?.touched) {
        <div class="p-error">
          <small>Piece Price is required.</small>
        </div>
        }
      </div>
      }

      <!-- Product Choice Switch -->
      <div class="flex items-center gap-2">
        <p-inputSwitch [trueValue]="1" [falseValue]="0" formControlName="product_choice_state"></p-inputSwitch>
        <label class="font-medium mb-1 block">Choices</label>
      </div>

      <!-- Dynamic Product Choices Inputs -->
      @if (submitForm.get('product_choice_state')?.value) {
      <div formArrayName="product_choice_array">
        @for (productChoiceArray of productChoiceArray.controls; track productChoiceArray) {
        <div class="flex items-center gap-2" [formGroup]="productChoiceArray">
          <input class="flex-grow-1" pInputText formControlName="en_name" placeholder="English Name" />
          <input class="flex-grow-1" pInputText formControlName="ar_name" placeholder="Arabic Name" />
          <button pButton icon="pi pi-trash" class="p-button-danger" (click)="removeProductChoice($index)"></button>
        </div>
        }
        <button pButton label="Add More" class="p-button-text" (click)="addProductChoice()"></button>
        @if (submitForm.get('product_choice_array')?.invalid && submitForm.get('product_choice_array')?.touched) {
        <div class="p-error">
          <small>Choices is required.</small>
        </div>
        }
      </div>
      }
    </form>

    @if (errorMessage.length > 0) {
    <div class="my-3 bg-red-100 border-l-4 border-red-500 text-red-700 p-4" role="alert">
      <p class="font-bold">Something Wrong!</p>
      <p>{{ errorMessage }}</p>
    </div>
    }
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="flex justify-end gap-3 mt-4">
      <button
        icon="pi pi-times"
        pButton
        label="Cancel"
        class="p-button-text"
        routerLink="/dashboard/menu/products"></button>
      <button pButton label="Save" (click)="saveForm()" class="p-button-success btn-main px-3"></button>
    </div>
  </ng-template>
</p-card>
