<p-card class="p-4">
  <ng-template pTemplate="title">
    <h2 class="text-xl font-semibold text-gray-800">Branch Details</h2>
  </ng-template>

  <ng-template pTemplate="content">
    <div class="grid md:grid-cols-2 gap-4">
      <!-- English & Arabic Location -->
      <div class="flex flex-col">
        <label class="font-medium text-gray-600">English Location</label>
        <p class="text-gray-900 font-semibold">{{ location.title_en }}</p>
      </div>

      <div class="flex flex-col">
        <label class="font-medium text-gray-600">Arabic Location</label>
        <p class="text-gray-900 font-semibold">{{ location.title_ar }}</p>
      </div>

      <!-- English & Arabic City -->
      <div class="flex flex-col">
        <label class="font-medium text-gray-600">Price</label>
        <p class="text-gray-900 font-semibold">{{ location.delivery_fee| currency : " EGP " }}</p>
      </div>
      <div class="flex flex-col">
        <label class="font-medium text-gray-600">Delivery Time</label>
        <p class="text-gray-900 font-semibold">{{ location.delivery_time}}</p>
      </div>
      <div class="flex flex-col">
        <label class="font-medium text-gray-600">City</label>
        <p class="text-gray-900 font-semibold">{{ location.governorate.title_en }}</p>
      </div>

      <!-- English & Arabic Address -->
      <div class="flex flex-col">
        <label class="font-medium text-gray-600">Branch</label>
        <p class="text-gray-900 font-semibold">{{ location.branch.title_en}}</p>
      </div>
      

      <!-- Status -->
      <div class="flex flex-col">
        <label class="font-medium text-gray-600">Status</label>
        <p-tag [severity]="location.status ? 'success' : 'danger'" class="w-fit">
          {{ location.status ? "Active" : "Inactive" }}
        </p-tag>
      </div>

    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="flex justify-end gap-3 mt-4">
      <button
        icon="pi pi-angle-double-left"
        pButton
        label="Back"
        class="p-button-text"
        routerLink="/dashboard/sub-locations"></button>
      <button
        pButton
        label="Edit Sub Location"
        class="p-button-primary btn-main px-3"
        [routerLink]="['/dashboard/sub-locations/sub-locations-edit', location.id]"></button>
    </div>
  </ng-template>
</p-card>
