<p-card class="p-4">
  <h2 class="text-xl font-semibold mb-4">
    {{ isEditing ? "Edit Voucher" : "Add New Voucher" }}
  </h2>

  <form [formGroup]="submitForm" (ngSubmit)="saveForm()" class="grid grid-cols-1 md:grid-cols-2 gap-4">

    <div class="col-span-1">
      <label for="title-en" class="font-medium block mb-1">Title En</label>
      <input id="title-en" type="text" pInputText placeholder="Enter voucher En title" formControlName="title_en"
        class="w-full" />
      <small class="text-red-500" *ngIf="submitForm.get('title_en')?.touched && submitForm.get('title_en')?.invalid">
        Title is required (min 3 characters)
      </small>
    </div>

    <div class="col-span-1">
      <label for="title-ar" class="font-medium block mb-1">Title Ar</label>
      <input id="title-ar" type="text" pInputText placeholder="Enter voucher ar Title" formControlName="title_ar"
        class="w-full" />
      <small class="text-red-500" *ngIf="submitForm.get('title_ar')?.touched && submitForm.get('title_ar')?.invalid">
        Title is required (min 3 characters)
      </small>
    </div>

    <div class="col-span-1">
      <label for="use" class="font-medium block mb-1">Usage</label>
      <p-dropdown id="use" [options]="useOptions" formControlName="use" placeholder="Select usage" optionLabel="label"
        optionValue="value" class="w-full"></p-dropdown>
    </div>

    <div class="col-span-1">
      <label for="type" class="font-medium block mb-1">Type</label>
      <p-dropdown id="type" [options]="typeOptions" formControlName="type" placeholder="Select type" optionLabel="label"
        optionValue="value" class="w-full"></p-dropdown>
    </div>

    <div class="col-span-1">
      <label for="value" class="font-medium block mb-1">Value</label>
      <input id="value" type="number" pInputText placeholder="Enter discount value" formControlName="value"
        class="w-full" appOnlyNumber />
    </div>

    <div class="col-span-1">
      <label for="min_amount" class="font-medium block mb-1">Min Order Price</label>
      <input id="min_amount" type="number" pInputText placeholder="Enter minimum order amount"
        formControlName="min_amount" class="w-full" appOnlyNumber />
    </div>

    <div class="col-span-1">
      <label class="font-medium block mb-1">Categories</label>
      <p-multiSelect [options]="allCategory()" formControlName="categories_ids" optionLabel="title_ar" optionValue="id"
        placeholder="Select Categories" class="w-full" display="chip">
      </p-multiSelect>
    </div>

    <div class="col-span-1">
      <label class="font-medium block mb-1">Products Excluded</label>
      <p-multiSelect [options]="allProducts()" formControlName="products_ids" optionLabel="title_ar" optionValue="id"
        placeholder="Select Products" [loading]="productsIsLoading()" (onFilter)="onProductsSearchChange($event)"
        class="w-full" display="chip">
      </p-multiSelect>
      <small class="text-gray-500">Note: Select categories first to see products</small>
    </div>



    <div>
      <div class="p-field">
        <label class="font-medium mb-1 block">Product Image</label>
        <p-fileUpload #fileUpload name="image" accept="image/*" [auto]="true" [chooseLabel]="'Choose Image'"
          [uploadLabel]="'Upload'" [styleClass]="'w-full'" [cancelLabel]="'Cancel'" (onRemove)="clearImage()"
          [showUploadButton]="false" [showCancelButton]="false" [customUpload]="true" (onSelect)="onFileSelect($event)"
          [draggable]="true">
          <ng-template pTemplate="content">
            <div
              class="upload-area flex flex-col items-center justify-center border-2 border-dashed border-gray-300 rounded-lg p-6 hover:border-main-500 transition">
              <i class="pi pi-cloud-upload text-4xl text-gray-400"></i>
              <p class="text-gray-500 mt-2">
                Drag & drop an image or
                <span class="text-blue-500 cursor-pointer" (click)="fileUpload.choose()">click to select</span>
              </p>
            </div>
          </ng-template>
        </p-fileUpload>
        @if (submitForm.get('image')?.invalid && submitForm.get('image')?.touched) {
        <div class="p-error">
          <small>Product Image is required.</small>
        </div>
        }
      </div>
    </div>
    <div class="col-span-1">
      <label for="apply" class="font-medium block mb-1">Apply To</label>
      <p-dropdown id="apply" [options]="applyOptions" formControlName="apply" placeholder="Select apply type"
        optionLabel="label" optionValue="value" class="w-full"></p-dropdown>
    </div>


    <div class="col-span-1">
      <label for="expiration_date" class="font-medium block mb-1">Expiration Date</label>
      <p-calendar id="expiration_date" formControlName="expiration_date" dateFormat="yy-mm-dd" [showIcon]="true"
        class="w-full"></p-calendar>
    </div>
    <div class="col-span-1" *ngIf="submitForm.get('use')?.value === 'specific'">
      <label for="limit" class="font-medium block mb-1">Usage Limit</label>
      <input id="limit" type="number" pInputText formControlName="limit" class="w-full" appOnlyNumber />
    </div>

    <div class="col-span-1" *ngIf="submitForm.get('apply')?.value === 'specific'">
      <label for="users" class="font-medium block mb-1">Specific Users</label>
      <p-multiSelect id="users" [options]="allUsers()" (input)="onSearchChange($event)" formControlName="users"
        optionLabel="name" optionValue="id" [loading]="isLoadingUsers()" class="w-full"></p-multiSelect>
    </div>
    <div class="col-span-2" *ngIf="errorMessage()">
      <p class="text-red-600 font-medium bg-red-50 p-2 rounded">{{ errorMessage() }}</p>
    </div>

    <div class="col-span-2 flex justify-end mt-4">
      <p-button label="{{ isEditing ? 'Update Voucher' : 'Create Voucher' }}" icon="pi pi-save" type="submit"
        styleClass="p-button-primary"></p-button>
    </div>
  </form>
</p-card>