<p-card class="p-4">
  <ng-template pTemplate="title">
    <h2 class="text-xl font-semibold text-gray-800">
      {{ isEditing ? "Edit Choices" : "Add Choices" }}
    </h2>
  </ng-template>

  <ng-template pTemplate="content">
    <form [formGroup]="submitForm" class="grid md:grid-cols-2 gap-4">
      <div class="flex flex-col relative">
        <label class="font-medium">Name ( EN )</label>
        <input
          type="text"
          pInputText
          formControlName="title_en"
          class="p-inputtext-sm w-full"
        />
        @if(isInvalid('title_en')) {
        <small class="text-red-500 absolute top-full">
          Name (EN) is required
        </small>
        }
      </div>

      <div class="flex flex-col relative">
        <label class="font-medium">Name ( AR )</label>
        <input
          type="text"
          pInputText
          formControlName="title_ar"
          class="p-inputtext-sm w-full"
        />
        @if(isInvalid('title_ar')) {
        <small class="text-red-500 absolute top-full">
          Name (Ar) is required
        </small>
        }
      </div>
      <div class="flex flex-col relative">
        <label class="font-medium">Price</label>
        <input
          type="number"
          pInputText
          appOnlyNumber
          formControlName="price"
          class="p-inputtext-sm w-full"
        />
        @if(isInvalid('price')) {
        <small class="text-red-500 absolute top-full">
          @if (submitForm.get('price')?.errors?.['required']) {
            <span>
              Price is required
            </span>
          }
          @if (submitForm.get('price')?.errors?.['min']) {
            <span>
              Price must be ≥ 0
            </span>
          }
        </small>
        }
      </div>

      <div class="col-span-1 relative">
        <label for="type" class="font-medium block mb-1">Type</label>
        <p-dropdown
          id="type"
          [options]="typeOptions"
          formControlName="type"
          placeholder="Select type"
          optionLabel="label"
          optionValue="value"
          class="w-full"
        ></p-dropdown>
        @if(isInvalid('type')) {
        <small class="text-red-500 absolute top-full">
          Type is required
        </small>
        }
      </div>
      @if(submitForm.get("type")?.value === 'pieces') {
      <div class="flex flex-col relative">
        <label class="font-medium">Quantity</label>
        <input
          type="number"
          pInputText
          appOnlyNumber
          formControlName="quantity"
          class="p-inputtext-sm w-full"
        />
        @if(isInvalid('quantity')) {
          <small class="text-red-500 absolute top-full">
            @if (submitForm.get('quantity')?.errors?.['required']) {
                <span>
                  quantity is required
                </span>
              }
              @if (submitForm.get('quantity')?.errors?.['min']) {
                <span>
                  quantity must be ≥ 1
                </span>
              }
          </small>
        }
      </div>
      }
      <div class="flex col-span-2 items-center gap-2">
        <label class="font-medium">Status</label>
        <p-inputSwitch
          [trueValue]="1"
          [falseValue]="0"
          formControlName="status"
        ></p-inputSwitch>
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="flex justify-end gap-3 mt-4">
      <button
        icon="pi pi-times"
        pButton
        label="Cancel"
        class="p-button-text"
        [routerLink]="['/dashboard/menu/products/products-choice/', productId]"
      ></button>
      <button
        pButton
        label="Save"
        (click)="saveForm()"
        [disabled]="submitForm.invalid"
        class="p-button-success btn-main px-3"
      ></button>
    </div>
  </ng-template>
</p-card>
