@if (options) {
<div class="card">
  <div class="flex justify-between items-center mb-3">
    <h2 class="text-2xl font-semibold">{{ product.title_en }} Choices Control</h2>
    <div class="flex gap-5 items-center">
      @if (options.length > 0) {
      <button
        icon="pi pi-angle-double-left"
        pButton
        label="Back"
        class="p-button-text text-gray-600"
        [routerLink]="['/dashboard/menu/products/']"></button>
      }
      <p-button
        [routerLink]="['/dashboard/menu/products/products-choice-add', product.id]"
        label="Add Choice"
        icon="pi pi-plus"
        class="btn-main text-white"></p-button>
    </div>
  </div>

  <p-table [value]="options" [loading]="loading" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th class="text-center">ID</th>
        <th class="text-center">Name ( AR )</th>
        <th class="text-center">Name ( EN )</th>
        <th class="text-center">Type</th>
        <th class="text-center">Status</th>
        <th class="text-center">Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-option>
      <tr>
        <td class="text-center">{{ option.id }}</td>
        <td class="text-center">{{ option.title_ar }}</td>
        <td class="text-center">{{ option.title_en }}</td>
        <td class="text-center">{{ option.type }}</td>
        <td class="text-center">
          <p-inputSwitch

            [ngModel]="option.status"
            (onChange)="toggleProductStatus(option)"></p-inputSwitch>
        </td>
        <td class="text-center">
          <p-button (onClick)="editPicePrice(option)" icon="pi pi-pencil" class="p-button-text"></p-button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6">
          <div>
            <div class="h-48 flex justify-center items-center flex-col">
              <app-no-data-found-banner></app-no-data-found-banner>
            </div>
            <div class="flex justify-center">
              <button
                icon="pi pi-angle-double-left"
                pButton
                label="Back"
                class="p-button-text"
                [routerLink]="['/dashboard/menu/products/products-details', product.id]"></button>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
} @else {
<app-loading-data-banner></app-loading-data-banner>
}

<p-toast></p-toast>
