@if (allOrders) {
<div class="card">
  <div class="flex justify-between items-center mb-3">
    <h2 class="text-2xl font-semibold">Tracking Orders</h2>
  </div>

  <div
    class="flex space-x-3 space-y-3 flex-wrap justify-content-between items-center my-4"
  >
    <!-- Search Input -->
    <div class="flex justify-content-end">
      <span class="p-input-icon-right">
        <i class="pi pi-search"></i>
        <input
          class="mb-0"
          type="text"
          pInputText
          placeholder="Search orders boxes..."
          (input)="onGlobalFilter(dt, $event)"
        />
      </span>
    </div>

    <!-- Date Filter -->
    <div class="flex items-center">
      <div class="relative inline-block">
        <!-- Filter Button -->
        <button
          (click)="toggleDropdown()"
          class="flex items-center gap-2 px-4 py-2 bg-blue-600 text-white rounded-md shadow-md hover:bg-blue-700 transition"
        >
          <i class="pi pi-calendar"></i>
          Filter
        </button>

        <!-- Dropdown Menu -->
        <div
          *ngIf="isDropdownOpen"
          class="absolute left-auto right-0 mt-2 w-96 p-4 flex flex-nowrap z-50"
        >
          <!-- Right: Date Picker -->
          <div class="flex flex-col flex-1 pl-4 date-picker">
            <ngx-daterangepicker-material
              [autoApply]="true"
              [linkedCalendars]="true"
              [alwaysShowCalendars]="true"
              [ranges]="datePresets"
              (choosedDate)="onDateSelected($event)"
            >
            </ngx-daterangepicker-material>

            <button
              (click)="applyFilter()"
              class="mt-3 bg-blue-500 text-white px-4 py-2 rounded-md shadow-md hover:bg-blue-600 transition"
            >
              Apply
            </button>
          </div>
        </div>
      </div>
      <p-button
        [outlined]="true"
        icon="pi pi-filter-slash"
        label="Clear"
        (onClick)="clear(dt)"
      />
    </div>
  </div>
  <div class="table-responsive">
    <p-table
      #dt
      [paginator]="true"
      [rows]="rowsPerPage"
      [totalRecords]="totalRecords"
      [lazy]="true"
      (onPage)="onPageChange($event)"
      [rowsPerPageOptions]="getPagination()"
      [showCurrentPageReport]="true"
      [sortMode]="'single'"
    (onSort)="onSort($event)"
      [globalFilterFields]="[
        'id',
        'name',
        'created_at',
        'total_price',
        'address.address'
      ]"
      [value]="filteredOrders"
      responsiveLayout="scroll"
      sortField="created_at"
      columnResizeMode="expand"
      [sortOrder]="-1"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">ID <p-sortIcon field="id" /></th>
          <th pSortableColumn="user">
            User <p-sortIcon field="user" />
          </th>
          <th pSortableColumn="created_at">
            Date <p-sortIcon field="created_at" />
          </th>
          <th >
            Time 
          </th>
          <th>Branch</th>
          <th pSortableColumn="address" pResizableColumn>
            Area <p-sortIcon field="address" />
          </th>
          <th pSortableColumn="total_price">
            Price <p-sortIcon field="total_price" />
          </th>
          <th class="text-center">View</th>
          <th class="text-center">Status</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-order>
        <tr>
          <td>{{ order.id }}</td>
          <td>{{ order?.user?.name || "N/A" }}</td>
          <td>{{ order.created_at | date }}</td>
          <td>{{ order.created_at | date:'HH:mm' }}</td>
          <td>
            {{ order.branch?.title_en ?? 'N/A'  }}
          </td>
          <td [title]="order.address.address" class="max-w-fit">
            {{ order.address.address }}
          </td>
          <td>{{ order.total_price }}</td>
          <td class="text-center">
            <a
              class="view"
              [routerLink]="['/dashboard/orders/order-details', order.id]"
              pButton
              label="View"
              icon="pi pi-search"
            ></a>
          </td>
          <td [ngClass]="getStatusClass(order.status)">
            <div class="mt-3">
              <p-dropdown
                [filter]="true"
                [options]="getAvailableStatusOptions(order.status)"
                [(ngModel)]="order.status"
                (onChange)="updateOrderStatus(order, true)"
                placeholder="Update Status"
                optionLabel="label"
                [autoZIndex]="true"
                [appendTo]="'body'"
                optionValue="value"
                [disabled]="true"
              >
                <ng-template pTemplate="selectedItem" let-selected>
                  <i [class]="selected.icon" class="mr-2"></i>
                  {{ selected.label }}
                </ng-template>
                <ng-template pTemplate="item" let-option>
                  <i [class]="option.icon" class="mr-2"></i>
                  {{ option.label }}
                </ng-template>
              </p-dropdown>
            </div>
          </td>
       
        </tr>
        
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="10">
            <div class="h-48 flex justify-center items-center flex-col">
              <app-no-data-found-banner></app-no-data-found-banner>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
} @else {
<app-loading-data-banner></app-loading-data-banner>
}

<p-toast [key]="'orderStatusMessage'"></p-toast>
