@if (loading) {
  <app-loading-data-banner></app-loading-data-banner>
} @else {
  <div class="card">
    <div class="flex justify-between items-center mb-3">
      <h2 class="text-2xl font-semibold">Custom Offers Control</h2>

      <p-button
        routerLink="/dashboard/offers/custom-offers-add"
        label="Add Custom Offer"
        icon="pi pi-plus"
        class="btn-main text-white"
      ></p-button>
    </div>

    <!-- Search Input -->
    <div class="mb-3 flex justify-content-end">
      <span class="p-input-icon-right">
        <i class="pi pi-search"></i>
        <input
          #search
          class="mb-0"
          type="text"
          pInputText
          placeholder="Search"
          (input)="onGlobalFilter(dt, $event)"
        />
      </span>
    </div>

    <p-table
      #dt
      [paginator]="false"
      [globalFilterFields]="['id', 'title_en', 'title_ar']"
      [sortMode]="'single'"
      (onSort)="onSort($event)"
      [value]="filteredOffers"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center" pSortableColumn="id">
            ID <p-sortIcon field="id"></p-sortIcon>
          </th>
          <th class="text-center">Image</th>
          <th class="text-center" pSortableColumn="title_en">
            Name (EN) <p-sortIcon field="title_en"></p-sortIcon>
          </th>
          <th class="text-center" pSortableColumn="title_ar">
            Name (AR) <p-sortIcon field="title_ar"></p-sortIcon>
          </th>
          <th class="text-center" pSortableColumn="percentage">
            Value (%) <p-sortIcon field="percentage"></p-sortIcon>
          </th>
          <th class="text-center">
            <p-dropdown
              #Dd
              styleClass="status-dropdown"
              [options]="selectOptions"
              optionValue="value"
              (onChange)="onFilterChange($event); Dd.showClear = true"
              placeholder="Status"
              [showClear]="false"
              [autoZIndex]="true"
              appendTo="'body'"
            ></p-dropdown>
          </th>
          <th class="text-center">Actions</th>
          <th class="text-center">View</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-offer>
        <tr>
          <td class="text-center">{{ offer.id }}</td>
          <td class="text-center">
            <img
              width="50"
              height="50"
              style="width: 50px; height: 50px"
              class="rounded-full mx-auto"
              [ngSrc]="offer.image"
              role="presentation"
            />
          </td>
          <td class="text-center">{{ offer.title_en }}</td>
          <td class="text-center">{{ offer.title_ar }}</td>
          <td class="text-center">{{ offer.percentage }}%</td>
          <td class="text-center">
            <p-inputSwitch
              [ngModel]="offer.status"
              (onChange)="toggleStatus(offer)"
            ></p-inputSwitch>
          </td>
          <td class="text-center">
            <a
              [routerLink]="['/dashboard/offers/custom-offers-edit', offer.id]"
              pButton
              class="p-button p-component text-black p-button-text"
            >
              <span class="p-button-icon pi pi-pencil"></span>
            </a>
          </td>
          <td class="text-center">
            <a
              [routerLink]="[
                '/dashboard/offers/custom-offers-details',
                offer.id,
              ]"
              pButton
              class="p-button p-component text-black p-button-text"
            >
              <span class="p-button-icon pi pi-search"></span>
            </a>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">
            <div class="h-48 flex justify-center items-center flex-col">
              <app-no-data-found-banner></app-no-data-found-banner>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
}

<p-toast></p-toast>
