@if (isLoading) {
<p-card class="p-4">
  <ng-template pTemplate="title">
    <h2 class="text-xl font-semibold text-gray-800">Promo Code Details</h2>
  </ng-template>

  <ng-template pTemplate="content">
    <div class="grid md:grid-cols-2 gap-4">
      <!-- code -->
      <div class="flex flex-col">
        <label class="font-medium text-gray-600">Code </label>
        <p class="text-gray-900 font-semibold">
          {{ promoCodeData.promo_code.code }}
        </p>
      </div>

      <!-- apply -->
      <!-- <div class="flex flex-col">
        <label class="font-medium text-gray-600">Apply:</label>
        <div class="flex gap-4 items-center flex-wrap">
          @if(promoCodeData.promo_code.apply !== 'all') { @for(user of
          promoCodeData.promo_code.users; track user.id) {
          <p class="text-gray-900 font-semibold mb-0">{{ user.name }}</p>
          } }@else {
          <p class="text-gray-900 font-semibold mb-0">
            @if(promoCodeData.promo_code.apply === 'all'){ All Users }
          </p>
          }
        </div>
      </div> -->

      <!-- min amount -->
      <div class="flex flex-col">
        <label class="font-medium text-gray-600">min amount</label>
        <p class="text-gray-900 font-semibold">
          {{ promoCodeData.promo_code.min_amount | currency : "EGP" }}
        </p>
      </div>

      <!-- type -->
      <div class="flex flex-col">
        <label class="font-medium text-gray-600">type</label>
        <p class="text-gray-900 font-semibold">
          {{ promoCodeData.promo_code.type }}
        </p>
      </div>
      <!-- Category -->
      <div class="flex flex-col">
        <label class="font-medium text-gray-600">Category</label>
        <p class="text-gray-900 font-semibold">
          {{ promoCodeData.promo_code.promo_code_categories.length === 0? 'unlimited' : 'Specific Categories' }}
        </p>
      </div>
      <!-- Users -->
      <div class="flex flex-col">
        <label class="font-medium text-gray-600">Users</label>
        <p class="text-gray-900 font-semibold">
          {{ promoCodeData.promo_code.users.length === 0? 'unlimited' : 'Specific Users' }}
        </p>
      </div>

      <!-- use -->
      <div class="flex flex-col">
        <label class="font-medium text-gray-600">use</label>
        <p class="text-gray-900 font-semibold">
          {{promoCodeData.promo_code.use}}
        </p>
      </div>

      <!-- value -->
      <div class="flex flex-col">
        <label class="font-medium text-gray-600">Limit</label>
        <p class="text-gray-900 font-semibold">
          @if (promoCodeData.promo_code.type == 'percentage') {
          {{ promoCodeData.promo_code.value / 100 | percent }}
          } @else {
          {{ promoCodeData.promo_code.value | currency : " EGP" }}
          }
        </p>
      </div>

      <!-- value -->
      <div class="flex flex-col">
        <label class="font-medium text-gray-600">Expiration date </label>
        <p class="text-gray-900 font-semibold">
          {{ promoCodeData.promo_code.expiration_date | date }}
        </p>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="flex justify-end gap-3 mt-4">
      <button icon="pi pi-angle-double-left" pButton label="Back" class="p-button-text" routerLink="../../"></button>
      <button pButton label="Edit Coupon" class="p-button-primary btn-main px-3" [routerLink]="[
          '../../',
          'promo-codes-edit',
          promoCodeData.promo_code.id
        ]"></button>
    </div>
  </ng-template>
</p-card>
}