@if (users.length > 0) {
<div class="card">
  <h2 class="text-2xl font-semibold mb-4">User Management</h2>

  <!-- Search Input -->
  <div class="mb-3 flex justify-content-end">
    <span class="p-input-icon-right">
      <i class="pi pi-search"></i>
      <input class="mb-0" type="text" pInputText placeholder="Search" (input)="onGlobalFilter(dt, $event)" />
    </span>
  </div>

  <p-table
    #dt
    [(selection)]="selectedUsers"
    [value]="users"
    [paginator]="totalRecords"
    [lazy]="true"
    [rows]="rowsPerPage"
    [rowsPerPageOptions]="getPagination()"
    [totalRecords]="totalRecords"
    [showCurrentPageReport]="true"
    (onPage)="onPageChange($event)"
    [globalFilterFields]="['id', 'name', 'email']"
    responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
        <th class="text-center" pSortableColumn="id">User ID <p-sortIcon field="id"></p-sortIcon></th>
        <th class="text-center" pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
        <th class="text-center" pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
        <th class="text-center" pSortableColumn="phone">Phone <p-sortIcon field="role"></p-sortIcon></th>
        <th class="text-center" pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
        <th class="text-center" pSortableColumn="controls">Activate Users<p-sortIcon field="controls"></p-sortIcon></th>
        <th class="text-center">Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-user>
      <tr>
        <td>
          <p-tableCheckbox [value]="user" />
        </td>
        <td class="text-center">{{ user.id }}</td>
        <td class="text-center">{{ user.name }}</td>
        <td class="text-center">{{ user.email }}</td>
        <td class="text-center">
          {{ user.phone }}
        </td>
        <td class="text-center">
          <p-inputSwitch
            [ngModel]="user.status"
            (onChange)="toggleUsersStatus(user)"></p-inputSwitch>
        </td>
        <td class="text-center">
          <p-inputSwitch
            [ngModel]="user.status"
            (onChange)="toggleUsersStatus(user)"></p-inputSwitch>
        </td>
        
        <td class="flex justify-center gap-1 mx-auto">
          <p-button
            [routerLink]="['/dashboard/users/users-address', user.id]"
            [link]="true"
            label="Address"
            type="button"
            icon="pi pi-address-book" />
          <p-button
            [routerLink]="['/dashboard/users/users-orders', user.id]"
            [link]="true"
            label="Orders"
            type="button"
            icon="pi pi-truck
          " />
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        <button
          pButton
          label="disable Selected Users"
          (click)="disableSelectedUsers()"
          class="p-button-success btn-main px-3"></button>
        <button
          pButton
          label="Enable Selected Users"
          (click)="enableSelectedUsers()"
          class="p-button-success btn-main px-3"></button>
      </div>
    </ng-template>
  </p-table>
</div>

} @else {
<app-loading-data-banner></app-loading-data-banner>
}

<p-toast />
<p-confirmDialog />
